<div ng-show="$root.user_basic.card">
    <div class="list">
        <h1 class="item item-divider">Library Card</h1>
    </div>
    <div class="card">
        <div class="barcode-wrap">
            <img id="barcode" class="barcode_img">
        </div>
        <div class="row">
            <div class="item col col-100">
                Use your mobile device as a library card to check out at any library location. Just scan the above barcode and leave your card in your wallet!
            </div>
        </div>
    </div>
</div>
