<div ng-hide="$root.loading == true">
    <ul id="pagination" ng-if="1 < pages.length">
        <li style="float:left" ng-if="directionLinks" ng-class="{ disabled_pagination : pagination.current == 1 }" class="ng-scope">
            <button ng-click="setCurrent(pagination.current - 1)" class="ng-binding button icon-left ion-chevron-left">&nbsp;Previous</button>
        </li>
        <li style="float:right" ng-if="directionLinks" ng-class="{ disabled_pagination : pagination.current == pagination.last }" class="ng-scope">
            <button ng-click="setCurrent(pagination.current + 1)" class="ng-binding button icon-right ion-chevron-right">Next&nbsp;</button>
        </li>
    </ul>
</div>
<div style="clear: both"></div>
