<div>
    <div class="list">
        <h1 class="item item-divider">Featured Items</h1>
    </div>
    <div class="card" ng-repeat="item in featured">
        <div class="item">
            <h2 class="title">{{item.node.title}}</h2>
            <div class="row">
                <div class="col col-30">
                    <img ng-src="http://catalog.tadl.org/opac/extras/ac/jacket/medium/r/{{item.node.item}}" class="item_image" err-src="img/clocktower100.png" /><br>
                    <span style="font-size:0.7em;">{{item.node.term}}</span>
                </div>
                <div class="col col-70">
                    <div style="float:right;margin-bottom:10px;text-align:right;" ng-hide="item.node.termid == 32">by {{item.node.author}}</div>
                    <div style="float:right;margin-bottom:10px;">
                        <button id="hold_{{item.node.item}}" ng-show="logged_in" class="button button-positive" ng-click="place_hold('{{item.node.item}}')">Place Hold</button>
                    </div>
                    <div style="float:right;">
                        <button class="button button-positive" ng-click="item_details('{{item.node.item}}')">More Info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
