<ion-modal-view>
    <ion-header-bar class="bar-solid">
        <h1 class="title">Item Details</h1>
        <div class="button button-clear" ng-click="closeModal()">
            <span class="icon ion-close"></span>
        </div>
    </ion-header-bar>
    <ion-content padding="true">
        <div class="item item-text-wrap">
            <div class="row">
                <div class="col col-100">
                    <span class="detail_title">{{item.title}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <img ng-src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/{{item.id}}" err-src="img/clocktower100.png" class="cover_item_details" />
                </div>
                <div class="col col-67">
                    <span class="detail_key" ng-show="item.author">{{item.author}}</span>
                    <div class="padding-top" ng-show="item.availability.length">
                        <span class="detail_title">Copies on the shelf</span>
                        <div ng-repeat="location in item.availability">
                            <span class="detail_key">{{location.library}}</span>
                            <div ng-repeat="copy in location.copies">
                                <div class="row responsive-sm">
                                    {{copy.count}} {{copy.count==1?'copy':'copies'}} in {{copy.shelf_location}} <br>&nbsp;&raquo;&nbsp; {{copy.call_numbers.toString()}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="padding-top" ng-show="item.holdings.length && !item.availability.length && item.electronic == false">
                        <span class="detail_key">Call Number: </span>
                        <span class="detail_value">{{item.call_number}}</span>
                    </div>
                    <div class="padding-top" ng-show="item.electronic != false">
                        <div class="detail_key">Electronic Resource</div>
                    </div>
                    <div class="right" ng-show="item.electronic == false">
                        <button ng-show="!logged_in" class="button button-positive" ng-click="closeModal()">Log in to place hold</button>
                        <button id="hold_{{item.id}}" ng-show="logged_in" class="button button-positive" ng-click="place_hold(item.id)">Place Hold</button>
                    </div>
                    <div ng-show="item.electronic != false">
                        <button class="button button-positive" ng-click="openLink(item.eresource)">Connect</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <div ng-show="item.abstract != ''">
                        <div class="detail_key">Summary</div>
                        <div class="detail_value">{{item.abstract}}</div>
                    </div>
                    <div ng-show="item.contents != ''">
                        <div class="detail_key padtop">Contents</div>
                        <div class="detail_value">{{item.contents}}</div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="item.holdings.length">
                <span class="detail_key">All holdings</span>
            </div>
            <div class="row" ng-show="item.holdings.length">
                <div class="col"><strong>Lib</strong></div>
                <div class="col"><strong>Shelf</strong></div>
                <div class="col"><strong>Call#</strong></div>
                <div class="col"><strong>Status</strong></div>
            </div>
            <div ng-repeat="holding in item.holdings" ng-show="item.holdings.length" class="row">
                <div class="col">{{holding.circ_lib.replace('TADL-', '')}}</div>
                <div class="col">{{holding.location}}</div>
                <div class="col">{{holding.call_number}}</div>
                <div class="col">{{holding.status}}</div>
            </div>
        </div>
        <div class="padtop padbot clearfix">&nbsp;</div>
    </ion-content>
</ion-modal-view>
