<div>
    <div class="list">
        <h1 class="item item-divider">Hours and Locations</h1>
    </div>	
    <div class="card" ng-repeat="location in locations">
        <div class="item">
            <h2 class="location_name">{{location.fullname}}</h2>
            <div class="row responsive-sm">
                <div class="col col-25 center">
                    <img ng-src="https://www.tadl.org/sites/default/files/libraryphotos/{{location.shortname}}-200x125.jpg" err-src="img/clocktower100.png" class="location_image" />
                </div>
                <div class="col col-75 center">
                    <div>{{location.address}}</div>
                    <div>{{location.citystatezip}}</div>
                    <div><i class="icon ion-ios7-telephone"></i> <a href="tel:{{location.phone}}">{{location.phone}}</a></div>
                    <div><i class="icon ion-email"></i> <a href="mailto:{{location.email}}">{{location.email}}</a></div>
                </div>
            </div>

            <div class="row hours-row hours-row-odd">
                <div class="col">
                    <span class="detail_key">Sunday</span>
                </div>
                <div class="col">
                    <span class="detail_value">{{location.sunday}}</span>
                </div>
            </div>
            <div class="row hours-row hours-row-even">
                <div class="col">
                    <span class="detail_key">Monday</span>
                </div>
                <div class="col">
                    <span class="detail_value">{{location.monday}}</span>
                </div>
            </div>
            <div class="row hours-row hours-row-odd">
                <div class="col">
                    <span class="detail_key">Tuesday</span>
                </div>
                <div class="col">
                    <span class="detail_value">{{location.tuesday}}</span>
                </div>
            </div>
            <div class="row hours-row hours-row-even">
                <div class="col">
                    <span class="detail_key">Wednesday</span>
                </div>
                <div class="col">
                    <span class="detail_value">{{location.wednesday}}</span>
                </div>
            </div>
            <div class="row hours-row hours-row-odd">
                <div class="col">
                    <span class="detail_key">Thursday</span>
                </div>
                <div class="col">
                    <span class="detail_value">{{location.thursday}}</span>
                </div>
            </div>
            <div class="row hours-row hours-row-even">
                <div class="col">
                    <span class="detail_key">Friday</span>
                </div>
                <div class="col">
                    <span class="detail_value">{{location.friday}}</span>
                </div>
            </div>
            <div class="row hours-row hours-row-odd">
                <div class="col">
                    <span class="detail_key">Saturday</span>
                </div>
                <div class="col">
                    <span class="detail_value">{{location.saturday}}</span>
                </div>
            </div>

        </div>

    </div>
</div>
