<div class="list make_fast">
  <a class="item item-icon-left" ui-sref="main.home" menu-close>
    <i class="icon ion-home"></i>Home</a>

  <a class="item item-icon-left" ui-sref="main.search" menu-close>
    <i class="icon ion-search"></i>Search Catalog</a>

  <a class="item item-icon-left" ui-sref="main.locations" menu-close>
    <i class="icon ion-compass"></i>Hours &amp; Locations</a>

  <a class="item item-icon-left" href="" menu-toggle="right">
    <i class="icon ion-person"></i>Account</a>

  <a class="item item-icon-left" ui-sref="main.events" menu-close>
    <i class="icon ion-calendar"></i>Events</a>

  <a class="item item-icon-left" ui-sref="main.news" menu-close>
    <i class="icon ion-flag"></i>News</a>

  <a class="item item-icon-left" ui-sref="main.featured" menu-close>
    <i class="icon ion-star"></i>Featured Items</a>
</div>
