<div>
    <div class="list">
        <h1 class="item item-divider">Featured News</h1>
    </div>	
    <div class="card" ng-repeat="new in news">
        <div class="item">
            <h2 class="title" ng-bind-html="new.title"></h2>
            <div ng-click="$root.openLink('http://www.tadl.org/node/{{new.nid}}?mobi_bypass=1')" >
                <img ng-src="{{new.image}}" class="news_image" ng-show="new.image" err-src="img/clocktower100.png" />
            </div>
            <span>{{new.teasertitle}}</span>
        </div>
    </div>
</div>
