<div class="item item-input-inset">
    <i class="button-clear icon ion-settings" title="Search Settings" name="Search Settings" ng-click="toggle_advanced()" style="color:#434343;"></i>
    <label class="item-input-wrapper">
        <input type="text" ng-model="query" placeholder="Search the Catalog" ng-keyup="$event.keyCode===13 && search()" id="searchBox" />
    </label>
    <div style="background-color:#434343;padding:4px;margin-right:5px;border-top-right-radius:4px;border-bottom-right-radius:4px;" ng-click="search()">
        <i class="button-clear icon ion-search" style="color:#fff;"></i>
    </div>
    <i class="button-clear icon ion-close-circled" title="Reset Search" name="Reset Search" ng-click="resetSearch()" style="color:#434343;"></i>
</div>
<div id="search_options" ng-show="advanced_search == true">
    <label class="item item-input item-select">
        <div class="input-label">Location</div>
        <select ng-model="loc" ng-init="loc = loc || '22'">
            <option value="22" selected>All</option>
            <option value="23">Woodmere</option>
            <option value="25">Kingsley</option>
            <option value="24">Interlochen</option>
            <option value="26">Peninsula</option>
            <option value="28">East Bay</option>
            <option value="27">Fife Lake</option>
        </select> 
    </label>
    <label class="item item-input item-select">
        <div class="input-label">Search Type</div>
        <select ng-model="qtype" ng-init="qtype = qtype || 'keyword'">
            <option value="keyword" selected>Keyword</option>
            <option value="title">Title</option>
            <option value="author">Author / Group</option>
            <option value="subject">Subject</option>
        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">Media Type</div>
        <select ng-model="format" ng-init="format = format || 'all'">
            <option value="all">All</option>
            <option value="a">Books</option>
            <option value="g">Movies</option>
            <option value="j">Music</option>
        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">Sort By</div>
        <select ng-model="sort" ng-init="sort = sort || 'relevance'">
            <option value="relevance">Relevance</option>
            <option value="pubdate.descending">Newest to Oldest</option>
            <option value="pubdate">Oldest to Newest</option>
            <option value="titlesort">A to Z</option>
            <option value="titlesort.descending">Z to A</option>
        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">Only Show Available Items</div>
        <select ng-model="availability" ng-init="availability = availability || 'off'" >
            <option value="off">Off</option>
            <option value="yes">On</option>
        </select>
    </label>
</div>
<div collection-repeat="result in results" item-width="100%" item-height="200">
    <div class="card" style="height:190px;">
        <div class="row">
            <div class="col col-20">
                <img class="cover_search_results" ng-src="https://catalog.tadl.org/opac/extras/ac/jacket/medium/r/{{result.record_id}}" err-src="img/clocktower100.png" />
            </div>
            <div class="col col-80">
                <h4 class="item-title"><img ng-src="{{result.format_icon}}" err-src="img/clocktower100.png" /> {{result.title}}</h4>
                <p>{{result.author}}</p>
                <div ng-show="result.availability.length && result.eresource == null">{{result.availability}}</div>
                <div ng-show="result.call_number"><strong>{{result.call_number}}</strong></div>
                <div>
                    <button class="button button-positive" ng-click="details(result.record_id)">More Info</button>
                    <button id="hold_{{result.record_id}}" ng-show="logged_in && !result.eresource" class="button button-positive" ng-click="place_hold(result.record_id)">Place Hold</button>
                    <button ng-show="!logged_in && !result.eresource" class="button button-positive" menu-toggle="right">Log in to hold</button>
                    <button ng-show="result.eresource" class="button button-positive" ng-click="openLink(result.eresource)">Connect</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ion-infinite-scroll ng-if="more_results == true" on-infinite="search(true)" distance="1%"></ion-infinite-scroll>
