/* Empty. Add your own CSS if you like */

body {
    cursor: url('../img/finger.png'), auto;
}

.cover_search_results {
    float: left;
    margin: 0 10px 0 0;
    width:100%;
}

.big_loading {
    font-size: 30px;
    vertical-align: middle;
}

.padbot {
    padding-bottom: 5px;
}
.padtop {
    padding-top: 5px;
}
.details-button {
    float: right;
}

.cover_item_details {
    width: 100%;
}

.item_image {
    float: left;
    padding-right: 10px;
    max-width:90%;
}

.node_image {
    float: left;
    padding-right: 10px;
    max-width: 50%;
}

.location_image {
    max-width: 300px;
    width: 100%;
}
h2.location_name {
    text-align: center;
    font-size: 1.2em;
}
h2.title {
    font-size: 1.1em;
    font-weight: bold;
}

.detail_key {
    font-weight: bold;
}

span.detail_value {
    text-align: right;
}

.detail_title {
    font-weight: bold;
    font-size: 18px;
}

a.menu_link {
    text-decoration: none;
}

div.menu_div:hover {
    background-color: #f5f5f5;
}

.barcode_img {
    width: 80%;
    max-width: 450px;
    display: block;
    margin: 10px auto;
}
.barcode-wrap {
    padding:20px;
}

.news_image {
    width: 100%;
}

.hours-display {
}
.hours-row-odd {
    background-color: #fff;
}
.hours-row-even {
    background-color: #eee;
}
.hours-row {
    padding:3px 10px;
}
.hours-row span.detail_value {
    float: right;
    width: 100%;
}

.overdue {
    color: #ff0000;
}

.item {
    white-space: normal;
}

.button-clear.icon {
    font-size: 20px;
    cursor: pointer;
}
.card-icon {
    margin-right: 20px;
}
.center {
    text-align: center;
}

img.logo {
    height: 100px;
}

.disabled_pagination{
    display: none;
}

#pagination li{
    margin: 10px;
}

#pagination a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #4a87ee; 
}
.item-input-wrapper {
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
.right {
    float: right;
}
.left {
    float: left;
}
.clear {
    clear: both;
}

h4.item-title {
    line-height: 20px;
    margin:0;
    padding:0;
    white-space: nowrap;
    overflow: hidden;
}
.collection-repeat-container {
    min-height:800px;
}
